.left {
  margin: 12%;
  text-align: right;
  width: 300px;
}
.left ul li {
  list-style-type: none;
  background-color: whitesmoke;
  margin: 8%;
}
.left a {
  text-decoration: none;
  color: black;
}
.left h1 {
  margin-top: 28px;
}

.body {
  display: grid;
  grid-template-columns: 25% 75%;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  color: #595959;
  justify-content: space-between;
}
.right {
  margin: 5%;
}
.right p {
  margin-bottom: 2%;
}
.imageleft {
  display: block;
  max-width: 100%;
  height: auto;
  border: 0;
  margin-top: 20px;
  /* box-sizing: border-box;  */
}
.center {
  display: grid;
  grid-template-columns: 40% 45%;
}
/* @media screen and (min-width: 666px) {
  .left::after .right::after {
    content: "";
    display: none;
    clear: both;
  }
}
.pararight {
  margin-top: 5%;
}
@media only screen and (min-width: 888px) {
  body {
    max-width: 1500px;
  }
} */
