/* body {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 300;
  font-size: 14%;
  line-height: 1.7rem;
  color: #595959;
  padding-left: 30em;
} */

.blogpage {
  margin-right: 150px;
  margin-top: 100px;
  grid-template-columns: 24% 24% 24%;
  display: grid;
  justify-content: space-between;
}

.img1 {
  font-size: 10em;
  padding-left: 110px;
}
.img2 {
  font-size: 10em;
  padding-left: 110px;
}
.img3 {
  font-size: 10em;
  padding-left: 110px;
}
.img1 a {
  text-decoration: none;
  color: black;
  text-align: justify;
}
.img2 a {
  text-decoration: none;
  color: black;
  text-align: justify;
}
.img3 a {
  text-decoration: none;
  color: black;
  text-align: justify;
}
.img1 p {
  margin-bottom: 20%;
  text-align: justify;
}
.img2 p {
  margin-bottom: 20%;
  text-align: justify;
}
.img3 p {
  margin-bottom: 20%;
  text-align: justify;
}
strong {
  font-weight: 800;
  color: black;
}
.img1 div {
  background: whitesmoke;
}
.img2 div {
  background-color: whitesmoke;
}
.img3 div {
  background-color: whitesmoke;
}
/* .header {
  font-size: 30px;
  text-align: center;
  padding-left: 4em;
} */
/* @media only screen and (min-width: 900px) {
  .blogpage::before .blogpage::after {
    content: "";
    display: none;
    clear: both;
  }
} */
/* @media screen and (min-width: 900px) {
  body {
    max-width: 1500px;
  }
} */
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* .searching {
  position: relative;
  display: inline-flex;
} */

.pages {
  text-align: center;
  margin: 50px;
}

.pages a {
  text-decoration: none;
  border: 1px solid black;
  padding: 10px;
  margin: 20px;
  color: black;
}

.active1 {
  background-color: lightgray;
}


.slides {
  display: none;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}


@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
